@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css);

body { 
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url(BlurBg.png) center/cover no-repeat fixed;
    color: #fff;
}
.nav-link{
    color: black;
}

/* Transparent Navbar */
.navbar {
    background: transparent !important;
}

/* Logo Styles */
.navbar-brand img {
    max-height: 40px; /* Adjust the height as needed */
    margin-right: 10px;
}
.main-container1{
    display: flex;
    flex-wrap: wrap; /* Enable wrapping */
    justify-content: space-between; /* Adjust as needed */
    align-items: flex-start; /* Adjust as needed */
    max-width: 1200px; /* Adjust the maximum width */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Adjust padding */
}

.container1 {
    flex-basis: calc(70% - 10px); /* Adjust width and account for margin/padding */
    margin-bottom: 20px; /* Adjust margin between items */
    box-sizing: border-box; /* Include padding and border in the box model */
    height: 400px;

   border-radius: 30px;
   padding: 50px;
   background-color: #131315;
    flex-direction: column;
    border-radius: ;
    
}
.frontimage img{
  
  width: 190px;
  height: 190px;
  border-radius: 50%;
}

.container2 { 
    flex-basis: calc(30% - 10px); /* Adjust width and account for margin/padding */
    height: 400px;
    margin-bottom: 20px; /* Adjust margin between items */
    box-sizing: border-box; /* Include padding and border in the box model */
    background-color: #131315;
    text-align: center;
    display: grid;
    place-items: center ;
    font-size: 50px;
    
   border-radius: 30px;
   padding: 5px;
    flex-direction: column;
}
.button1{
  background-color: orangered;
  border-radius: 30px;
  color: #EEEEEE;
  font-size: 30px;
  box-shadow: none;
  border: none;

}
.gg-arrow-top-right {
      box-sizing: border-box;
      position: relative;
      display: block;
      width: 8px;
      height: 8px;
      border-top: 2px solid;
      transform: scale(var(--ggs,1));
      border-right: 2px solid
      color(#EEEEEE )
     }
     
     .gg-arrow-top-right::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 14px;
      height: 2px;
      background: currentColor;
      transform: rotate(-45deg);
      top: 3px;
      right: -3px
     } 




.main-container2{
    display: flex;
    flex-wrap: wrap; /* Enable wrapping */
    justify-content: space-between; /* Adjust as needed */
    align-items: flex-start; /* Adjust as needed */
    max-width: 1200px; /* Adjust the maximum width */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Adjust padding */
}
.container3 {
    flex-basis: calc(40% - 10px); /* Adjust width and account for margin/padding */
    
    margin: 5px; /* Adjust margin between items */
    box-sizing: border-box; /* Include padding and border in the box model */
    text-align: center;
    vertical-align: middle;
    height: 70px;
    display: grid;
    place-items: center;
    

   border-radius: 30px;
   padding: 5px;
    flex-direction: column;
    background-color: #131315;
}
.container4 {
    flex-basis: calc(60% - 1px); /* Adjust width and account for margin/padding */
    margin-bottom: 2px; /* Adjust margin between items */
    box-sizing: border-box; /* Include padding and border in the box model */
    text-align: center;
    column-span: all;
    vertical-align: middle;
    background-color: #131315;

   border-radius: 30px;
   padding: 5px;
    flex-direction: column;
}

.fa {
    padding: 10px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
      color: #534343;
  }
  .fa-facebook {
    color: #CCCCCC;
  }
  .fa-twitter {
    color: #CCCCCC;
  }
  .fa-google {
    color: #CCCCCC;
  }
  .fa-linkedin {
    color: #CCCCCC;
  }
  .fa-github {
    color: #CCCCCC;
  }
  .fa-youtube {
    color: #CCCCCC;
  }
  .fa-instagram {
    color: #CCCCCC;
  }
  .fa-snapchat-ghost {
    color: #CCCCCC;
  }
  .main-container3{
    display: flex;
    flex-wrap: wrap; /* Enable wrapping */
    justify-content: space-between ; /* Adjust as needed */
    align-items: flex-start; /* Adjust as needed */
    max-width: 1200px; /* Adjust the maximum width */
    margin: 0 auto; /* Center the container */
    padding: 10px; /* Adjust padding */
}


  .container5 {
    flex-basis: calc(40% - 10px); /* Adjust width and account for margin/padding */
    margin-bottom: 20px; /* Adjust margin between items */
    box-sizing: border-box; /* Include padding and border in the box model */
    
}
.container5 img{
    max-width: 100%; /* Make sure the image doesn't exceed its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space beneath the image */
    border-radius: 15%;
}
    
.container6 {
    flex-basis: calc(60% - 10px); /* Adjust width and account for margin/padding */
    margin-bottom: 20px; /* Adjust margin between items */
    box-sizing: border-box; /* Include padding and border in the box model */
    width: 90%;
   
}
.container6 img{
    max-width: 100%; /* Make sure the image doesn't exceed its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space beneath the image */
    border-radius: 15%;

}
.main-container4{
    display: flex;
    flex-wrap: wrap; /* Enable wrapping */
    justify-content: space-between ; /* Adjust as needed */
    align-items: flex-start; /* Adjust as needed */
    max-width: 1200px; /* Adjust the maximum width */
    margin: 0 auto; /* Center the container */
    padding: 10px; /* Adjust padding */
}


  .container7 {
    flex-basis: calc(34% - 10px); /* Adjust width and account for margin/padding */
    margin-bottom: 20px; /* Adjust margin between items */
    box-sizing: border-box; /* Include padding and border in the box model */
    
}
.container7 img{
    max-width: 100%; /* Make sure the image doesn't exceed its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space beneath the image */
    border-radius: 15%;
}
  .container8 {
    flex-basis: calc(40% - 10px); /* Adjust width and account for margin/padding */
    height: 100px;
    margin-bottom: 20px; /* Adjust margin between items */
    box-sizing: border-box; /* Include padding and border in the box model */
    
}
.container8 img{
    max-width: 100%; /* Make sure the image doesn't exceed its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space beneath the image */
    border-radius: 15%;
}
  .container9 {
    flex-basis: calc(26% - 10px); /* Adjust width and account for margin/padding */
    margin-bottom: 20px; /* Adjust margin between items */
    box-sizing: border-box; /* Include padding and border in the box model */
    
}
.container9 img{
    max-width: 100%; /* Make sure the image doesn't exceed its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space beneath the image */
    border-radius: 15%;
}




    
    
